*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/**/CVS/*
*~
ethereumj-core/build/
ethereumj-core/src/test/resources/state/
zBarBuild/build/
